* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', 'sans-serif';
    background-image: url(images/bg-intro-desktop.png);
}

.container {
    -webkit-display: flex;
    display: flex;
    gap: 80px;
    padding-left: 70px;
    
}




.two {
    background-color: white;
    height: 400px;
    padding: 30px 0 0 0;
    border-radius: 5px;
    margin-top: 15px;
    width: 465px;
    
}

.qaz {
    font-size: 10px;
    margin-left: 67px;
}




input[type=text], input[type=email], input[type=password] {
    width: 420px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    font-weight: 700;
    box-shadow: 0.1px 0.1px 1.3px;
    margin-left: 20px;
    margin-top: 8px;
}

input[type=submit] {
    width: 420px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 20px;
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0.5px 0.5px 1.5px;
    color: white;
    cursor: pointer;
    margin-top: 17px;



    

}


button {
    padding: 10px;
    width: 460px;
    border: none;
    border-radius: 5px;
    background-color: hsl(248, 32%, 49%);
    margin-top: 70px;
    color: white;
    cursor: pointer;
    margin-left: 4px;

}





.nnn {
    margin-top: 160px;
    margin-left: 60px;
}

h1 {
        font-size: 50px;
    font-weight: 600;
    color: white;
}

.okay {
    font-size: 16px;
    font-weight: 400;
    color: white;
    letter-spacing: 0.2px;
}


@media (max-width: 860px) {

    body {
    box-sizing: border-box;

        background-image: url(images/bg-intro-mobile.png);
    }

    .container {
        display: flex;
        flex-direction: column;
        padding-left: 5px;
        gap: 0;
        
    }

    h1 {
        font-size: 25px;
        margin-left: 37px;


        
    }
    
    .okay {

        font-size: 9px;
    }

    .container > div {
        align-items: center;
        justify-content: center;
        padding: 2%;
        
    }

    button {
        width: 320px;
        margin-top: 20px;
        height: 50px;
        padding: 0;
        
    }

input[type=text], input[type=email], input[type=password] {
    width: 280px;
    padding-left: 10px;
    font-weight: 600;
    font-size: 12px;
}



.two {
    width: 325px;
    height: 400px;
    margin-top: 3;

}

input[type=submit] {
    width: 280px;
    margin-top: 0;
    font-weight: 600;

}

.nnn {
    margin-top: 50px;
    margin-left: 10px;


    
}

.qaz {
    margin-left: 20px;
}







}

